#startBtn {
    margin: 30px 0 0 15px;
    width: 30%;
}

#main {
    margin-left: 20px;
}

#finalID {
    font-size: xx-large;
    margin-left: 15px;
}

#qzBtn {
    background-color: #7D82B8;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

#highScores {
    margin-left: 2%;
    cursor: pointer;
    color:#003844;
}

#time {
    margin-left: 75%;
}

ul {
    list-style-type: none;
    margin-left: -39px;
}